body,
html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.nav-head {
    background-color: #7676ff;
}

.ticket-change {
    font-size: 15px;
    color: #3b1d82 !important;
}

.font-change {
    font-size: 15px;
    color: #2f2d4e !important;
}

.ft-change {
    font-size: 15px;
}

.font-change:hover {
    color: #ffffff;
}

.social-icon ul li {
    list-style: none;
}

.fd-large-text {
    font-size: 70px;
    font-family: "Josefin Sans", sans-serif;
    color: #2f2d4e;
    padding-right: 80px;
}

.book-btn {
    background-color: #e22104;
}

.book-btn:hover {
    background-color: #ff0000;
}

.food-services-list ul li {
    display: inline-block;
}

.fd-text {
    color: #2f2d4e;
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
}

.about-head {
    color: #e22104;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
}

.about-speak {
    color: #2f2d4e;
    font-size: 50px;
    font-family: "Josefin Sans", sans-serif;
}

.about-paragraph {
    color: #888888;
    font-size: 15px;
    padding-right: 20%;
    line-height: 27px;
}

.sneaky-pic {
    position: relative;
}

.sneaky-pic .box-image2 {
    position: absolute;
    bottom: -70px;
    right: -15px;
}

.feature-fd {
    color: #e22104;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
}

.fd-head {
    color: #2f2d4e;
    font-size: 50px;
    font-family: "Josefin Sans", sans-serif;
}

.branch-body {
    background-color: #fff8f7;
}

.food-card:hover .branch-body {
    background-color: #fff;
}

.item-name {
    color: #2f2d4e;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
}

.item-desc {
    color: #888888;
    font-size: 15px;
}

.price-tag {
    color: #e22104;
    font-size: 24px;
}

.star {
    color: #ffbe0f;
    font-size: 11px;
}

.food-card:hover {
    box-shadow: 0px 10px 20px 0px rgba(8, 6, 89, 0.1);
}

.offer-card-container {
    background-color: #e22104;
    position: relative;
    right: 30%;
    top: 90px;
}

.offer-title-h3 {
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
}

.offer-card-discount {
    font-size: 60px;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
}

.offer-link {
    display: inline-block;
    color: #fff;
    border-radius: 2rem;
    border: 1px #fff solid;
}

.offer-content {
    display: grid;
    align-content: center;
    justify-content: center;
}

.food-card-one {
    padding: 30px 40px 30px 40px;
    background-color: #fff8f7;
}

.food-card-title {
    position: relative;
    margin-bottom: 5px;
}

.food-card-title::after {
    content: "";
    display: block;
    position: absolute;
    left: 57%;
    top: 40%;
    width: 28%;
    height: 1px;
    background-color: #363636;
}

.dollar-tag {
    color: #e22104;
    font-size: 24px;
}

.roasted-text {
    color: #2f2d4e;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
}

.media-paragraph {
    color: #888888;
    font-size: 15px;
}

.food-card-one:hover {
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(8, 6, 89, 0.1);
}

.cta-area {
    background-image: url(../images/cta-bg.png);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    padding: 120px 0 130px 0;
}

.btn-reservation {
    background-color: #e22104;
    font-size: 14px;
    font-weight: 600;
}

.cta-area::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(2, 1, 15, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.trendy-text {
    font-size: 20px;
    font-weight: 400;
}

.thing-text {
    font-size: 30px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
}

.designer-card {
    position: relative;
    border: 10px solid #fff;
    z-index: 0;
    overflow: hidden;
}

.opacity {
    height: 0px;
    width: 100%;
    display: grid;
    opacity: 0;
    justify-content: center;
    align-content: center;
    top: 0;
    position: absolute;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    z-index: 5;
}

.designer-card:hover .opacity {
    opacity: 1;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    height: 100%;
    width: 100%;
    background-color: rgba(2, 1, 15, 0.5);
}

.opacity ul li {
    list-style: none;
}

.card-name {
    height: 90px;
    width: 95%;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    top: 73%;
    background-color: #fff;
    padding: 20px 0px;
    z-index: 7;
}

.employe-desc {
    font-size: 15px;
    color: #777777;
}

.employe-name {
    color: #2f2d4e;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
}

.exp-paragraph {
    font-size: 15px;
    color: #888888;
    line-height: 27px;
}

.book-txt {
    font-size: 19px;
    font-family: "Josefin Sans", sans-serif;
}

.search-wrapper {
    background: url(../images/reservation-bg.png) left center no-repeat;
    background-size: cover;
    padding: 30px 40px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.search-wrapper::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(2, 1, 15, 0.5);
    z-index: -1;
}

.search-form .form-group {
    margin-bottom: 15px;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-form .form-control {
    font-size: 14px;
    color: #999999;
    padding-left: 20px;
    border: 0;
    height: 50px;
    border-radius: 0;
}

.input-group-append {
    margin-left: -1px;
}

.search-form .input-group-append .input-group-text {
    border: 0;
    padding-right: 20px;
    border-radius: 0;
    background: #fff;
}

.search-form .input-group-append i,
.search-form .input-group-append span {
    font-size: 15px;
    color: #bfbfbf;
}

.search-form .form-group:last-child {
    margin-bottom: 0;
}

.form-group-position {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
}

.admin-txt {
    color: #888888;
    font-size: 15px;
}

.activity-txt {
    color: #2f2d4e;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
}

.blog-body {
    background-color: #fff8f7;
}

.card-blog:hover {
    box-shadow: 0px 10px 20px 0px rgba(8, 6, 89, 0.1);
}

.card-blog:hover .blog-body {
    background: #fff;
}

.ft-list ul li {
    list-style: none;
}

.ft-list ul li a {
    color: #777777;
    font-size: 15px;
    line-height: 40px;
    text-decoration: none;
}

.ft-paragraph {
    color: #777777;
    font-size: 15px;
}

.ft-title {
    color: #2f2d4e;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
}

.footer {
    background-color: #fff8f7;
}

.colorlib {
    color: #777777;
    font-size: 15px;
}

.heart-icon {
    color: #e22104;
}

.icon-awesome {
    height: 30px;
    width: 30px;
    background-color: #2f2d4e;
}

.icon-awesome:hover {
    background-color: #e22104;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .fd-large-text {
        padding-right: 50px;
        font-size: 55px;
        line-height: 60px;
    }
    .fd-text {
        font-size: 14px;
    }
    .about-speak {
        font-size: 30px;
    }
    .about-paragraph {
        padding-right: 10%;
    }
    .offer-title-h3 {
        font-size: 20px;
    }
    .offer-card-discount {
        font-size: 30px;
    }
    .food-card-title::after {
        left: 78%;
        top: 40%;
        width: 5%;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .fd-large-text {
        padding-right: 20px;
        font-size: 40px;
        line-height: 40px;
    }
    .about-speak {
        font-size: 28px;
    }
    .about-paragraph {
        padding: 0px;
    }
    .fd-head {
        font-size: 30px;
    }
    .offer-title-h3 {
        font-size: 27px;
    }
    .offer-card-discount {
        font-size: 31px;
    }
    .offer-link {
        font-size: 18px;
    }
    .offer-card-container {
        position: relative;
        right: 30%;
        top: 80px;
    }
    .food-card-title::after {
        content: "";
        display: block;
        position: absolute;
        left: 40%;
        top: 40%;
        width: 50%;
        height: 1px;
        background-color: #363636;
    }
}

@media screen and (min-width: 375px) and (max-width: 425px) {
    .fd-large-text {
        padding: 0px 50px;
        font-size: 30px;
        line-height: 30px;
    }
    .about-speak {
        font-size: 28px;
    }
    .about-paragraph {
        padding: 0px;
    }
    .fd-head {
        font-size: 23px;
    }
    .offer-card-container {
        right: 0px;
        position: static;
        top: 0px;
        padding: 50px 0px;
    }
    .roasted-text {
        font-size: 16px;
    }
    .food-card-title {
        position: relative;
        margin-bottom: 2px;
    }
    .food-card-title::after {
        left: 65%;
        top: 38%;
        width: 20%;
    }
    .dollar-tag {
        font-size: 15px;
    }
    .media-paragraph {
        font-size: 12px;
    }
    .activity-txt {
        font-size: 20px;
    }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
    .fd-large-text {
        padding: 0px 50px;
        font-size: 20px;
        line-height: 30px;
    }
    .about-speak {
        font-size: 24px;
    }
    .about-paragraph {
        padding: 0px;
    }
    .fd-head {
        font-size: 23px;
    }
    .offer-title-h3 {
        font-size: 23px;
    }
    .offer-card-discount {
        font-size: 27px;
    }
    .offer-link {
        font-size: 13px;
    }
    .offer-card-container {
        right: 0px;
        position: static;
        top: 0px;
        padding: 50px 0px;
    }
    .offer-card-container {
        right: 0px;
        position: static;
        top: 0px;
        padding: 50px 0px;
    }
    .roasted-text {
        font-size: 15px;
    }
    .food-card-title {
        position: relative;
        margin-bottom: 2px;
    }
    .food-card-title::after {
        left: 79%;
        top: 35%;
        width: 7%;
    }
    .dollar-tag {
        font-size: 13px;
    }
    .media-paragraph {
        font-size: 13px;
    }
    .activity-txt {
        font-size: 17px;
    }
    .card-name {
        height: 90px;
        width: 95%;
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        top: 68%;
    }
}